<html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>



<body>



   <table id= "userdata" border="2">

  <thead>

            <th>Prenom</th>

            <th>Nom</th>

        </thead>

      <tbody>
        {% for person in data.person %}
        <tr>
          <td>{{person.firstName }}</td>
          <td>{{person.lastName }}</td>
        </tr>
        {% endfor %}
        

       </tbody>

   </table>




  <hr>
<form action="/ajouter" method="POST">

  <div>

    <label for="prenom">Prenom a ajouter</label>

    <input name="prenom" id="prenom" value="Louis">

  </div>

  <div>
    <label for="nom">nom a ajouter</label>
    <input name="nom" id="nom" value="Philippe">
  </div>

  <div>

    <button>Envoyer</button>

  </div>
  
  <hr>


</form>

<form action="/supprimer" method="POST">

  <div>

    <label for="index">Numero de ligne a supprimer (1ere ligne = 0)</label>

    <input name="index" id="index" value=0>

  </div>

   <div>

    <button>Envoyer</button>

  </div>

</form>

</body>

</html>
